<% include ../partials/searchbar %>
<% if (img == "./img/bird.jpeg") { %>
    <% img = "../img/bird.jpeg"; %>
<% } %>
<div class="well">
    <div class="round-img profile-img" style="background:url(<%= img %>); background-size:cover; background-position:center;"></div>
        <div class="show-info">
        <h2 class="vernacular-name"><%= name %></h2>
        <h4><span class="species"><%= animal.species %></span>
            <% if (alreadySaved) { %>
                ⭐️
            <% } %>
        </h4>
        <p>Spotted near 
            <a href="/results?location=<%=location%>"><%= location %></a>
        </p>
    </div>
    <table class="table mine">
        <tr><th>Kingdom</th><td><%=animal.kingdom%></td></tr>
        <tr><th>Phylum</th><td><%=animal.phylum%></td></tr>
        <tr><th>Class</th><td><%=animal.class%></td></tr>
        <tr><th>Order</th><td><%=animal.order%></td></tr>
        <tr><th>Family</th><td><%=animal.family%></td></tr>
        <tr><th>Genus</th><td><%=animal.genus%></td></tr>
    </table>
    <div class="tracker info">
        <h4>Recent sightings in this area</h4>
        <div class="wide">
            <table class="table table-striped">
                <tr>
                    <th></th>
                    <th scope="col">Jan</th>
                    <th scope="col">Feb</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Apr</th>
                    <th scope="col">May</th>
                    <th scope="col">Jun</th>
                    <th scope="col">Jul</th>
                    <th scope="col">Aug</th>
                    <th scope="col">Sep</th>
                    <th scope="col">Oct</th>
                    <th scope="col">Nov</th>
                    <th scope="col">Dec</th>
                </tr>
                <tr>
                    <th scope="row"><%= tracker.lastYear %></th>
                    <% tracker.lastMonthTotals.forEach((count, index) => { %>
                        <%if (index == tracker.lastPeakMonth) { %>
                            <td class="highlight"><strong><%= count %></strong></td>
                        <% } else { %>
                            <td><%= count %></td>
                        <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <th scope="row"><%= tracker.thisYear %></th>
                    <% tracker.thisMonthTotals.forEach((count, index) => { %>
                        <%if (index == tracker.thisPeakMonth) { %>
                            <td class="highlight"><strong><%= count %></strong></td>
                        <% } else if(index <= tracker.thisMonth) { %>
                            <td><%= count %></td>
                        <% } else { %>
                            <td></td>
                        <% } %>
                    <% }) %>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="easter-egg">
        <% if (animal.genus == "Corvus") { %>
            <p>
                <a href="https://www.youtube.com/watch?v=rQMZKyaYeSc">
                Good morrow, neighbor!</a>
            </p>
        <% } %>
    </div>
    <div>
        <% if (!currentUser) { %>
            <a href="/auth/login">Log in</a> to favorite an animal
        <% } else if(!alreadySaved) { %>
            <form method="POST" action="/profile/favorites">
                <input type="hidden" name="speciesKey" value="<%= animal.speciesKey %>">
                <input type="hidden" name="location" value="<%= location %>">
                <input type="hidden" name="name" value="<%= (name? name : animal.species) %>">
                <input type="hidden" name="lat" value="<%= lat %>">
                <input type="hidden" name="long" value="<%= long %>">
                <input type="hidden" name="img" value="<%= img %>">
                <input class="btn btn-primary" type="submit" value="Favorite this Animal">
            </form>
        <% } else { %>
            <form method="POST" action="/profile/<%= animal.speciesKey %>/?_method=DELETE">
                <input class="btn" type="submit" value="Remove from Favorites">
            </form>
        <% }%>
    </div>
</div>