<% include ../partials/searchbar %>
<div class="well">
    <div class="round-img profile-img" style="background:url(<%= img %>); background-size:cover; background-position:center;"></div>
    <div>
        <h4><span class="species"><%= animal.species %></span>
            <% if (alreadySaved) { %>
                ⭐️
            <% } %>
        </h4>
        <ul>
            <li>Kingdom: <%=animal.kingdom%></li>
            <li>Phylum: <%=animal.phylum%></li>
            <li>Class: <%=animal.class%></li>
            <li>Order: <%=animal.order%></li>
            <li>Family: <%=animal.family%></li>
            <li>Genus: <%=animal.genus%></li>
        </ul>
    </div>
    <div>
        <% if (!currentUser) { %>
            <a href="/auth/login">Log in</a> to favorite an animal
        <% } else if(!alreadySaved) { %>
            <form method="POST" action="/profile/favorites">
                <input hidden type="text" name="speciesKey" value="<%= animal.species %>">
                <input hidden type="text" name="name" value="<%= img %>">
                <input class="btn btn-primary" type="submit" value="Favorite this Animal">
            </form>
        <% } else { %>
            <form method="POST" action="/profile/<%= animal.speciesKey %>/?_method=DELETE">
                <input class="btn" type="submit" value="Remove from Favorites">
            </form>
        <% }%>
    </div>
</div>